.floating-words-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }
  
  .floating-word {
    position: absolute;
    
    animation: float 10s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0) translateX(0);
    }
    25% {
      transform: translateY(-20px) translateX(15px);
    }
    50% {
      transform: translateY(20px) translateX(-15px);
    }
    75% {
      transform: translateY(-10px) translateX(-20px);
    }
  }
  
  /* Specific animations for each word to vary the movement */
  /* .floating-word-0 {
    animation-duration: 8s;
    left: 5%;
    top: 60%;
    font-size: 70px;
  }
  .floating-word-1 {
    animation-duration: 9s;
    left: 75%;
    top: 30%;
    font-size: 50px;
  }
  .floating-word-2 {
    animation-duration: 10s;
    left: 15%;
    top: 10%;
    font-size: 55px;
  }
  .floating-word-3 {
    animation-duration: 11s;
    left: 40%;
    top: 20%;
    font-size: 60px;
  }
  .floating-word-4 {
    animation-duration: 12s;
    left: 60%;
    top: 50%;
    font-size: 65px;
  } */
