.floating-words-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }
  
  .floating-word {
    position: absolute;
    
    animation: float 10s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0) translateX(0);
    }
    25% {
      transform: translateY(-20px) translateX(15px);
    }
    50% {
      transform: translateY(20px) translateX(-15px);
    }
    75% {
      transform: translateY(-10px) translateX(-20px);
    }
  }