.menuBody
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    width: 100vw

    background: rgba( 255, 255, 255, 0.2 )
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
    backdrop-filter: blur( 3.5px )

.menuLinks
    display: flex
    flex-direction: column
    font-size: 2.5rem
    list-style: none
    text-decoration: none

.menuLinks li a
    border: 1px solid #000000
    border-radius: 20px
    display: flex
    text-align: center
    width: 120px
    padding: 5px
    margin: 5px
    transition: transform 0.3s ease

.menuLinks li a:hover
    transform: scale(1.1)
