.menuBody 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    width: 100vw

.menuLinks
    display: flex
    flex-direction: column
    font-size: 2.5rem
    list-style: none
    text-decoration: none
